## Project of data science 2021

## 1. Overall Goal
   Using Python, matlab, Java or some things else to analysis data and then visualize them in-group(5 students in a group).
## 2. Data set
  The attendance table for each classes, totally 12. Each of tables is in excel format. The overall goals is to give remarks for every students according to the attendance record.

Firstly, you need read the data, I will show you one way using pandas

In [58]:
import pandas as pd
sExcelFile="data1-5.xlsx"
df1 = pd.read_excel(sExcelFile,sheet_name='Sheet1')

In [59]:
df1

,学号,中文名,英文名,class1,class2,class3,class4,class5
0,IS17170201,王辰,AL-AWADHI HUSAM TAHA MOHAMMED,44min,6min,27min,12min,14min
1,IS17170202,NaN,AL-KATEB ELYAS KHALED MOHAMMED,NaN,90min,89min,51min,68min
2,IS17170203,赵雷,AHSAN MUHAMMAD,45min,6min,41min,78min,96min
3,IS17170204,NaN,AJMAL HAMZA,NaN,62min,NaN,NaN,NaN
4,IS17170205,诺曼,ARSHAD NOMAN,65min,22min,50min,72min,12min
5,IS17170206,吴越寺,ASHFAQ HAMZA,NaN,25min,13min,NaN,57min
6,IS17170208,张磊,BISWAS DIPALOKE,NaN,NaN,NaN,77min,23min
7,IS17170209,李斯诺,CHOWDHURY SATYEN ROY,50min,88min,68min,67min,49min
8,IS17170210,卫斯,FAROOQ AWAIS,76min,85min,80min,76min,94min
9,IS17170212,萨娜,GOHAR SANA,49min,55min,79min,62min,81min
10,IS17170213,NaN,HASSAN SYED MUBASHAR,NaN,NaN,NaN,NaN,NaN
11,IS17170214,马云,IFTIKHAR MUHAMMAD TALHA,NaN,NaN,NaN,NaN,4min
12,IS17170215,麦家,KAZMI SYED REHMAN RAZA,74min,92min,87min,61min,74min
13,IS17170216,刘佳令,NOOR NUKHBA,77min,83min,86min,78min,38min
14,IS17170217,李飞,RAHMAN MOHAMMAD HABIBUR,49min,NaN,59min,36min,77min
15,IS17170218,步豹,ABU BAKAR,79min,98min,76min,NaN,88min
16,IS17170219,吴思远,ALI TAIMUR,77min,92min,84min,NaN,80min
17,IS17170220,安思宁,ASHIQ MAHER MUHAMMAD,NaN,79min,18min,75min,77min
18,IS17170222,沈易,KHAN SHARJEEL,23min,34min,42min,1min,76min
19,IS17170223,可力得,MASOOD MUHAMMAD QASIM,NaN,NaN,NaN,NaN,NaN
20,IS17170224,齐飞,QURESHI UMAR,76min,NaN,NaN,1min,NaN
21,IS17170225,王子,UMAR MUHAMMAD,NaN,83min,NaN,80min,NaN
22,IS17170226,阿力,ALI ASIF,45min,90min,89min,77min,88min
23,IS17170227,夏米大,SHAHID ASFANDYAR,NaN,NaN,NaN,NaN,NaN
24,IS17170228,马龙,SAYFIDDINOV JAVLON,NaN,NaN,11min,NaN,2min

In [60]:
sExcelFile="data6.xlsx"
df2 = pd.read_excel(sExcelFile,sheet_name='数据导出')
df2

,学生姓名,学生ID,是否观看直播,进入直播时间,观看直播时长,是否观看回放,观看回放时间,签到信息【发起签到时间、是否签到】
0,noman,144115262193228095,是,2021/09/30 16:13:14,12分钟,否,0分钟,NaN
1,IS17170201,144115262165025476,是,2021/09/30 16:07:27,14分钟,否,0分钟,NaN
2,UMAR MUHAMMAD,144115262193120815,是,2021/09/30 16:03:12,14分钟,否,0分钟,NaN
3,Dipaloke biswas # 张磊,144115262533666631,是,2021/09/30 16:02:52,23分钟,否,0分钟,NaN
4,Talha,144115262193275682,是,2021/09/30 15:59:51,4分钟,否,0分钟,NaN
5,Mr.Chips ?? (吴越诗),144115262165369886,是,2021/09/30 15:41:12,57分钟,否,0分钟,NaN
6,IS17170202 Elyas 佳音,144115262165036721,是,2021/09/30 15:18:52,68分钟,否,0分钟,NaN
7,IS17170220,144115262193423527,是,2021/09/30 15:08:57,77分钟,否,0分钟,NaN
8,沈易 IS17170222,144115262193081160,是,2021/09/30 15:05:11,76分钟,否,0分钟,NaN
9,HaBiB(李飞),144115262165813642,是,2021/09/30 15:05:01,77分钟,否,0分钟,NaN
10,IS17170212,144115262866224933,是,2021/09/30 15:02:31,81分钟,否,0分钟,NaN
11,Nukhba noor,144115262165256590,是,2021/09/30 15:00:07,38分钟,否,0分钟,NaN
12,IS17170219-吴思远,144115262865811953,是,2021/09/30 14:59:10,80分钟,否,0分钟,NaN
13,Jqvlon,144115262375047252,是,2021/09/30 14:58:58,2分钟,否,0分钟,NaN
14,IS17170226 阿力,144115210315163852,是,2021/09/30 14:57:04,88分钟,否,0分钟,NaN
15,ABU BAKAR(Nagra) 步豹,144115262865788680,是,2021/09/30 14:56:55,88分钟,否,0分钟,NaN
16,IS17170203,144115262866439594,是,2021/09/30 14:56:42,96分钟,否,0分钟,NaN
17,Awais 卫斯 IS17170210,144115262866722653,是,2021/09/30 14:56:24,94分钟,否,0分钟,NaN
18,Satyen roy chowdhury,144115262865824386,是,2021/09/30 14:56:12,49分钟,否,0分钟,NaN
19,IS17170215,144115262164874725,是,2021/09/30 14:55:55,74分钟,否,0分钟,NaN
20,王彦博,144115215876992871,是,2021/09/30 14:54:26,83分钟,否,0分钟,NaN

## 3 Your 1st task

your need to immerge table df1 and df2, according to 学生姓名. I suggest you use your ID in our class , but alots of students use various kinds of names. If you cannot merge df1 and df2 automaticly , try to modify data6 files by your hand.

## 4 Data per-processing

your need extract the numbers from class1 -class 5

In [61]:
a1=df1.class1.str.extract('(\d+)')
a2=df1.class2.str.extract('(\d+)')
a3=df1.class3.str.extract('(\d+)')
a4=df1.class4.str.extract('(\d+)')
a5=df1.class5.str.extract('(\d+)')
b = pd.concat([a1,a2,a3,a4,a5],axis=1)
b

      0    0    0    0    0
0    44    6   27   12   14
1   NaN   90   89   51   68
2    45    6   41   78   96
3   NaN   62  NaN  NaN  NaN
4    65   22   50   72   12
5   NaN   25   13  NaN   57
6   NaN  NaN  NaN   77   23
7    50   88   68   67   49
8    76   85   80   76   94
9    49   55   79   62   81
10  NaN  NaN  NaN  NaN  NaN
11  NaN  NaN  NaN  NaN    4
12   74   92   87   61   74
13   77   83   86   78   38
14   49  NaN   59   36   77
15   79   98   76  NaN   88
16   77   92   84  NaN   80
17  NaN   79   18   75   77
18   23   34   42    1   76
19  NaN  NaN  NaN  NaN  NaN
20   76  NaN  NaN    1  NaN
21  NaN   83  NaN   80  NaN
22   45   90   89   77   88
23  NaN  NaN  NaN  NaN  NaN
24  NaN  NaN   11  NaN    2

Here are lots of missing vaule(or absent as NAN) you can fill it in your way

In [62]:
b1=b.fillna(10);b1

     0   0   0   0   0
0   44   6  27  12  14
1   10  90  89  51  68
2   45   6  41  78  96
3   10  62  10  10  10
4   65  22  50  72  12
5   10  25  13  10  57
6   10  10  10  77  23
7   50  88  68  67  49
8   76  85  80  76  94
9   49  55  79  62  81
10  10  10  10  10  10
11  10  10  10  10   4
12  74  92  87  61  74
13  77  83  86  78  38
14  49  10  59  36  77
15  79  98  76  10  88
16  77  92  84  10  80
17  10  79  18  75  77
18  23  34  42   1  76
19  10  10  10  10  10
20  76  10  10   1  10
21  10  83  10  80  10
22  45  90  89  77  88
23  10  10  10  10  10
24  10  10  11  10   2

## 4 (Optimal)To do some EDA for your data set  e.g. mean variance , store your data in a data base e.g. sqlite3

In [63]:
b1.describe()

         0   0   0   0   0
count   25  25  25  25  25
unique  11  14  17  14  18
top     10  10  10  10  10
freq    11   8   8   9   6

## 5.  Clustering

In [64]:
from sklearn.cluster import KMeans

In [65]:
kmeans = KMeans(n_clusters=4)

In [67]:
kmeans =kmeans.fit(b1)

In [68]:
y_kmeans = kmeans.predict(b1)

In [83]:
y_kmeans

array([0, 3, 1, 0, 1, 0, 0, 3, 3, 3, 0, 0, 3, 3, 1, 3, 3, 2, 0, 0, 0, 2,
       3, 0, 0])

## 7. Visulazation

In [81]:
import matplotlib.pyplot as plt